@import '../abstract/base.scss';
@import '../abstract/base.scss';
@import '../abstract/mixins.scss';

$color-primary: rgb(0,102,76);
$color-primary-light:rgb(45,130,106);
$color-primary-light2: rgb(45,130,106);
$color-primary-grey: #777;
$color-primary-white: #fff;
$color-black: rgb(0, 0, 0);
$color-black-med: rgba(0, 0, 0, 0.418);
$color-grey-light-1: #f7f7f7;
$color-grey-med: #eee;
$color-darkgrey: #999;
$color-darkgrey-2: #333;
$color-newGreen: rgb(32,133,96);
.bottom {
  margin-bottom: 4rem;
}

 .heading{
    font-size: 3.5rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all 0.2s;

    @include respond(tab-port) {
      font-size: 3rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }

    &:hover {
      transform: skewY(3deg) skewX(15deg) scaleX(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }
  }

.grid {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }
    @include respond(tab-port) {
      max-width: 50rem;
      // padding: 0 3rem;
    }
  
  @include clearfix;

  [class^="col-"] {
    float: left;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }
    @include respond(tab-port) {
      width: 100% !important;
    }
  }
.section-signup{
  padding: 1rem 0;

  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-darkgrey, 0.8));
}
.signup{
  background-image: linear-gradient(
      105deg,
      rgba($color-primary-white, 0.7) 0%,
      rgba($color-primary-white, 0.7) 50%,
      transparent 50%
    ),
    url(../assets/isla.png);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black-med, 0.2);
  height: 70rem;

  &__form {
    width: 50%;
    padding: 1em;
  }
}
// form
.form {
  &__group:not(:last-child) {
    margin-bottom: .5rem;
  }
  &__input {
    font-size: 1rem;
    
    padding: 1rem 2rem;
    border-radius: 2px;
    background: rgba($color-primary-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 50%;
    display: block;
    transition: all .3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
        border-bottom: 3px solid $color-darkgrey;
    }
    &::-webkit-input-placeholder {
      color: $color-darkgrey;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
    
  } 
  // &__radio-input {
  //   display: none;
  // }
  // &__radio-group {
  //   width: 49%;
  //   display: inline-block;
  // }
  // &__radio-label {
  // font-size: 1.4rem;
  // cursor: pointer;
  // position: relative;
  // padding-left: 4.5rem;
  // }
  // &__radio-button {
  //   height: 3rem;
  //   width: 3rem;
  //   border: 5px solid $color-primary;
  //   border-radius: 50%;
  //   display: inline-block;
  //   position: absolute;
  //   left: 0;
  //   top: -.4rem;

  //   &::after {
  //     content: "";
  //     display: block;
  //     height: 1.3rem;
  //     width: 1.3rem;
  //     border-radius: 50%;
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     background: $color-primary;
  //     opacity: 0;
  //     transition: opacity .2s;
  //   }
  // }
  // &__radio-input:checked ~ &__radio-label &__radio-button::after {
  //   opacity: 1;
  // }
}

