@import '../abstract/base.scss';
@import '../abstract/variables.scss';

.formDiv {
  .messageForm {
    display: flex;
    justify-content: center;
    padding: 5rem;
  }
  .message__label {
    font-size: 0.1rem;
    color: transparent;
  }
  .message__button {
    background: transparent;
    font-size: 2rem;
    color: $color-primary;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: all 1s ease;
    &:hover {
      background: transparent;
      color: $user1;
    }
  }
  .message__input {
    font-size: 1.5em;
    border-radius: 2px;
    background: $color-primary;
    width: 29rem;
    transition: all 0.3s;
    @include respond(phone) {
      width: 20rem;
    }
  }
  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
    border-bottom: 3px solid $color-primary;
  }
}

