@import '../abstract/base.scss';
@import '../abstract/variables.scss';


.message__container {
    margin-top: 11rem;

    .messageArray {
    display: flex;
    border-radius: 1rem;
    justify-content: center;
   height: 20%;
    width: auto;
    text-align: center;
    overflow: hidden;
}
}


