@import '../abstract/base.scss';
@import '../abstract/variables.scss';
@import '../abstract/mixins.scss';
@import '../abstract/animate.scss';

.spinner {
  width: 40px;
  height: 40px;
  position: relative;  
  margin: 100px auto;
}
.bounce1,
.bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.error {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 3rem;
  margin-top: 4rem;
}
.otherUsers {
  font-size: 3rem;
  padding: .5rem;
  margin-top: 4rem;
  text-align: center;
}
.messageInfo {
  font-size: 2rem;
  padding: .5rem;
  text-align: center;
}
  
.LinkUserList {
  color: inherit;
  text-decoration: inherit;
  padding: 0.8rem 0.3rem 1rem 0.3rem;
}
.ulUserList {
  width: 55vw;
  margin: 3.4rem auto;
  padding: 1rem 0;
}
@media screen and (min-width: 550px) {
  .ulUserList {
    display: grid;
    width: 60vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
  }
}

@media screen and (min-width: 680px) {
  .ulUserList {
    width: 65vw;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 780px) {
  .ulUserList {
    width: 73vw;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 980px) {
  .ulUserList {
    width: 85vw;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1140px) {
  .ulUserList {
     width: 90vw;
    grid-template-columns: repeat(4, 1fr);
  }
}


