@import '../abstract/base.scss';
@import '../abstract/variables.scss';

.spinner {
  width: 40px;
  height: 40px;
  position: relative;  
  margin: 100px auto;
}
.bounce1,
.bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.error {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 3rem;
  margin-top: 4rem;
}
.otherUsers {
  font-size: 3rem;
  padding-top: 6rem;
  text-align: center;
  @include respond(phone) {
   padding-top: 13rem;
   font-size: 2.3rem;
  }
}
.messageInfo {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
  
.LinkUserList {
  color: inherit;
  padding: 3rem 1rem;
  margin: 0 auto;
}
.ulUserList {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem 0;
  @include respond (tab-port-big) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond (tab-port) {
    grid-template-columns: repeat(2, 1fr);
    
  }
  @include respond (phone) {
    grid-template-columns: repeat(1, 1fr);
  }
}
