@import '../abstract/base.scss';
@import '../abstract/variables.scss';

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 38rem;

  &__side {
    height: 38rem;
    font-size: 2rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    &--front {
      background-color: $color-primary;
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        filter: grayscale(1);
       background: linear-gradient(
      170deg,
      rgba($color-darkgrey, .6) 0%,
      rgba($color-darkgrey, .4) 100%,
      transparent 80%, 
      
    ) ,
    url(../assets/sidePaw.png) center;
  padding: 3rem 0rem;
  
  border-radius: 3px;
      }
      
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-clip: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      // background: linear-gradient(to bottom right, $color-primary, $color-black-clear),
      //   url(../assets/dog.png)
    }
  }
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: $color-primary-white;
    position: absolute;
    top: 1rem;
    right: rem;
    width: 75%;
  }
  &__heading-span {
    padding: 1rem;
    text-transform: capitalize;
    
  }
  &__heading-span--2 {
   text-transform: capitalize;
  }
  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-med;
        }
      }
    }
  }
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  &__bio-box {
    text-align: center;
    color: $color-primary-white;
    margin-bottom: 5rem;
  }
  &__bio-text {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: black;
  }
  
}
.userImg {
  top: 2.5rem;
  left: 2.5rem;
  margin: 1rem .5rem 0 1rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}


