@import '../abstract/base.scss';
@import '../abstract/variables.scss';

.about {
  background: $color-primary;
  border-radius: 1rem;
  padding: 0.6rem;
  height: 45rem;
  width: 100%;
  margin: 5rem 0.5;
  text-decoration: none;
  overflow: hidden;
}
  .about__image {
    filter: grayscale(1);
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: block;
    padding: 0.6rem;
    text-decoration: none;
    
  .img_container {
    position: relative;
    width: auto;
   
    border: 3px solid black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .about_name {
    
      text-transform: uppercase;
      color: $color-primary;
      background-color: $color-black;
      text-decoration: none;
      text-align: center;
    
  }


// .Li {
//   color: inherit;
//   text-decoration: inherit;
//   padding: 0.8rem 0.3rem 1rem 0.3rem;

  h3 {
    font-size: 1rem;
    overflow: hidden;
    padding: 0.8rem 0.3rem 1rem 0.3rem;
  }
}
.aboutTitle {
  font-size: 3.5rem;
  text-align: center;
  margin: 1.5rem 1rem 0.2rem 1rem;
}
.AboutUl {
  width: 60vw;
  margin: 3.4rem auto;
  padding: 1rem 0;
}
@media screen and (min-width: 550px) {
  .AboutUl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5.5rem;
  }
}
@media screen and (min-width: 780px) {
  .AboutUl {
    width: 85vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

}

