@import '../abstract/variables.scss';
@import '../abstract/base.scss';

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;

    .DevCard{
        border: 1px solid black;
    }

}