@import '../abstract/base.scss';
@import '../abstract/variables.scss';
@import '../abstract/mixins.scss';
@import '../abstract/animate.scss';

.about__container {
display: flex;
justify-content: center;
align-items: center;
margin-left: 20rem;
}
.about {
  background: $color-primary;
  border-radius: 1rem;
  padding: 0.6rem;
  height: 29rem;
  width: 23rem;
  margin: 5rem 0.5;
  text-decoration: none;
  overflow: hidden;
  text-align: center;

  &__info {
    padding: 1rem 2rem .5rem 2rem;
  }
  .social-link {
    color: $color-black;
    display: flex;
    justify-content: space-around;

    .links {
      margin: 1rem;
      text-decoration: none;
      font-size: 1.2rem;
      color: inherit;
    }
  }
}
.about__image {
  filter: grayscale(1);
  width: 15rem;
  border-radius: 1rem;
  display: block;
  padding: 0.6rem;
  text-decoration: none;
  height: 15rem;
  display: flex;
  margin: auto;

  .img_container {
    position: relative;
    width: auto;
    border: 3px solid black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
.aboutTitle {
  font-size: 4.5rem;
  text-transform: capitalize;
  text-align: center;
  margin: 2rem 
}
.AboutUl {
  width: 60vw;
  margin: 3.4rem auto;
  padding: 1rem 0;
}

.about__name {
    text-transform: uppercase;
    margin-top: .5rem;
    color: $color-black;
    text-align: center;
  }

@media screen and (min-width: 550px) {
  .AboutUl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
  }
}
@media screen and (min-width: 780px) {
  .AboutUl {
    width: 85vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
