@import '../abstract/variables';
@import '../abstract/base.scss';
@import '../abstract/animate.scss';

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-grey, 0.8), rgba($color-black, 0.8)),
    url('../assets/doghero.jpeg');
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  
  &__text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.background {
  background-color: 
  $color-black;
}
.heading-primary {
  color: $color-primary-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;
  
  &__sub--main {
    color: $color-primary-white;
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation: moveInLeft 1s ease-out;
  }
  &__sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-in;
  }
}