@import '../abstract/variables';
@import '../abstract/base.scss';
@import '../abstract/animate.scss';

.header {
  height: 95vh;
  .bg-video {
    filter: grayscale(1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);

    &__content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text-box {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading-primary {
  &__sub--main {
    color: $color-black;
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation: moveInLeft 1s ease-out;
  }
  &__sub {
    display: block;
    color: $color-black;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-in;
  }
}

.section__title {
  color: $color-darkgrey;
  font-size: 4rem;
  padding-top: 2.5rem;
  text-align: center;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-black;

  &--paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-darkgrey;
    margin: 1rem auto;
    font-size: 2.5rem;
    letter-spacing: 2px;
    height: auto;
    width: 100rem;
    background: $color-black;
    margin: 2rem;
    padding: 2rem;
    border-width: 1rem;
    border-style: solid;
    border-image: linear-gradient(to bottom, $color-primary, rgba(0, 0, 0, 0)) 1
      100%;
  }
}
