@import '../abstract/base.scss';
@import '../abstract/variables.scss';
@import '../abstract/mixins.scss';

.container-images {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;

  .img {
    width: 100%;
    height: 13rem;
    filter: grayscale(1);
    border-radius: 0.5rem;
  }
  .main-image {
    filter: grayscale(1);
    overflow: hidden;
    height: 40rem;
    width: 100%;
    @include respond(phone) {
      height: 28rem;
      width: 100%;
    }
  }

  .font {
    font-size: 2.5rem;
    padding: 1.5rem;
    margin-top: 2rem;
    color: $color-primary;
  }

  .link-a {
    font-size: 2rem;
    padding: 1.5rem;
    color: $color-primary-white;
  }
  .thumbnails {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 2rem;
    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 5rem;
    }
  }
  .image-container {
    width: 100%;
    margin: 0 auto;
  }

  .button {
    text-decoration: none;
    color: $color-darkgrey;
    transition: all 0.5s ease-in;
  }

  .button:hover {
    color: $color-primary;
  }
  .image-container {
    overflow: hidden;
    position: relative;
    background-color: $color-primary-white;
    margin: 0 auto;
    height: 20%;
  }
}