body {
  margin: 20px;
  padding: 0;
  background: #fff;
  text-align: center;
}
//will need media query for small screen
.container {
  max-width: 40%;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;

  img {
    object-fit: contain;
    max-width: 100%;
  }

  .main-image {
    // border: 20px solid black;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
  }
}

ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;

}

.image-container {
  width: 100%;
  overflow: hidden;
  position:relative;
  background-color: white;
  margin:auto;
  border: 1px solid black;
  min-height: 100px;
}

a {
  text-decoration: none;
  margin: 5px;
  color: black;
  border: solid 1px black;
  border-radius: 20px;
  padding: 10px;
  width: 20%;
}
a:hover {
  background-color: blue;
  color: white;
}

.speech{
  background-image: url(../assets/message-chat.png);
  background-repeat: no-repeat;
  height: auto;
  width: auto;
}
.testimonials {
  
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;


    .main-image {
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      height: 300px;
      width: 100%;
      border:none;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .image-container {
     
      overflow: hidden;
      position:relative;
      background-color: white;
      margin:auto;
      border: 1px solid black;
      height: 20%;
    }
  }
}
