$color1: #161719;
$color2: #26272b;
@import '../abstract/base.scss';
@import '../abstract/variables.scss';

.text-center {
  text-align: center;
}

.cf {
  *zoom: 1;
  &:before,
  &:after {
    content: ' ';
    display: flex;
    flex-wrap: wrap;
  }
  &:after {
    clear: both;
  }
}

.wrapper {
  max-width: 45rem;
  margin: 0 auto;
  background-color: $color1;
  font-family: 'Roboto', sans-serif;
  color: $color-darkgrey;
  h1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .speechbubble {
    background-color: $color2;
    color: $color-darkgrey;
    font-size: 1.5rem;
    line-height: 1.75;
    padding: 3rem 2rem;
    margin-bottom: 7.5rem;
    color: white;
    width: 25rem;
    cursor: default;

    &:nth-child(2n) {
      border-left: 5px solid;
    }
    &:nth-child(2n):after {
      content: '';
      margin-top: -3rem;
      padding-top: 0px;
      position: relative;
      bottom: -4.5rem;
      left: 2rem;
      border-width: 3rem 0 0 3rem;
      border-style: solid;
      border-color: $color2 transparent;
      display: block;
      width: 0;
    }
    &:nth-child(2n + 1) {
      border-right: 5px solid;
    }
    &:nth-child(2n + 1):after {
      content: '';
      margin-top: -30px;
      padding-top: 0px;
      position: relative;
      bottom: -45px;
      left: 350px;
      border-width: 30px 30px 0 0;
      border-style: solid;
      border-color: $color2 transparent;
      display: block;
      width: 0;
    }

    &:nth-child(4n + 1) {
      border-color: $highlight1;
    }
    &:nth-child(4n + 2) {
      border-color: $highlight4;
    }
    &:nth-child(4n + 3) {
      border-color: $highlight2;
    }
    &:nth-child(4n + 4) {
      border-color: $highlight3;
    }

    p:before {
      content: '“';
      font-family: Georgia;
      font-size: 4rem;
      line-height: 0;
      display: inline-block;
      display: -webkit-inline-box;
    }
    .username {
      display: inline;
      font-style: italic;
      float: right;
      &:before {
        content: '- ';
      }
    }
  }
}
