$color1: #161719;
$color2: #26272b;
@import '../abstract/base.scss';
@import '../abstract/variables.scss';

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

  .speechbubble {
    background-color: $color2;
    color: $color-darkgrey;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2.5rem;
    color: white;
    margin: 2rem;
    width: 25rem;

    &:nth-child(2n + 2) {
      border-left: 5px solid;
    }

    &:nth-child(2n + 1) {
      border-right: 5px solid;
    }
    &:nth-child(4n + 1) {
      border-color: $highlight3;
    }

    &:nth-child(4n + 2) {
      border-color: $highlight4;
    }
    &:nth-child(4n + 3) {
      border-color: $highlight2;
    }

    .testimonials-p:before {
      content: '“';
      font-family: Georgia;
      font-size: 4rem;
      line-height: 0;
      width: 100%;
      display: inline;
    }
    .username {
      display: inline;
      font-style: italic;
      float: right;
      &:before {
        content: '- ';
      }
    }
  }
}

// @media (min-width: 800px){

//   .wrapper {
//     margin-top: 10%;
//       .speechbubble{
//         margin-bottom: 5%;
//       }
//   }
  
// }
