@import './variables.scss';
<<<<<<< HEAD
@import '../abstract/mixins.scss';
=======
>>>>>>> 4e4317a890539b3938c6c2628ab042204fad3fb7
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
   font-size: 62.5%; 
    @include respond(tab-land) { 
      font-size: 56.25%; 
    }
    @include respond(tab-port-big) {
      font-size: 53.25%;
    }
    
    @include respond(tab-port) { 
      font-size: 50%; 
    }
    @include respond(big-desktop) {
      font-size: 75%; 
    }
  }
body {
  box-sizing: border-box;
  background: black;
  color:$color-grey-med;
<<<<<<< HEAD
  // padding: 1rem; 
  font-family: 'Comfortaa', sans-serif;

}
=======
  padding: 1rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }
>>>>>>> 4e4317a890539b3938c6c2628ab042204fad3fb7
