@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media(max-width: 37.5em) { @content }; 
  }
  @if $breakpoint == tab-port {
    @media(max-width: 56.25em) { @content }; //900px
  }
  @if $breakpoint == tab-port-big {
    @media(max-width: 65.25em) { @content }; //900px
  }
  @if $breakpoint ==  tab-land{
    @media(max-width: 75em) { @content }; //1200px
  }
  @if $breakpoint ==  small-lap {
    @media(min-width: 70em) { @content }; //1800 +
  }
}