$color-primary: rgb(0,102,76);
$color-primary-light:rgb(45,130,106);
$color-primary-light2: rgb(45,130,106);
$color-primary-grey: #777;
$color-primary-white: #fff;
$color-black: rgb(0, 0, 0);
$color-black-med: rgba(0, 0, 0, 0.418);
$color-black-clear: rgba(240, 235, 235, 0.276);
$color-grey-light-1: #f7f7f7;
$color-grey-med: #eee;
$color-darkgrey: #999;
$color-darkgrey-2: #333;
$color-newGreen: rgb(32,133,96);
$highlight1 : #56b273;
$highlight2 : #b388dd;
$highlight3 : #ff8750;
$highlight4 : #01AD9B;

$grid-width: 135rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
