@import '../abstract/base.scss';
@import '../abstract/mixins.scss';
@import '../abstract/variables.scss';


.bottom {
  margin-bottom: 4rem;
}
#password {
  -webkit-text-security: disc;
    -moz-text-security:circle;
}

.Loginheading {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-black,
    $color-black,
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skewY(3deg) skewX(15deg) scaleX(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.Logingrid {
  max-width: 95%;
}
.section-Login {
  width: 88%;
  margin: 1rem auto;
}
.Login {
  margin-top: 2rem;
  height: 65rem;
  background: linear-gradient(
      99deg,
      rgba($color-primary, 1) 0%,
      rgba($color-primary, 1) 20%,
      rgba($color-black-clear, .4) 35%,
      rgba($color-black-clear, .1) 50%,
      transparent 50%
    ),
    url(../assets/dogPhoto/calebsm.png);
    background-size: cover;
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit minmax(24rem auto));
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  @include respond(phone) {
    background: linear-gradient(
        100deg,
        rgba($color-primary, 1) 0%,
        rgba($color-primary, 1) 10%,
        rgba($color-black-clear, 0.2) 50%,
        transparent 50%
      ),
      url("../assets/dogPhoto/login.png");
      background-size: cover;
    padding: 1rem 0rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba($color-black, 0.2);
    margin-top: 15rem;
  }

  &__form {
    width: 50%;
    padding: 6rem;
    margin-bottom: 25rem;
     @include respond(tab-port) {
      width: 40%;
    }
    @include respond(phone) {
      width: 30%;
      
    }
  }
}
// form
.Loginform {
  margin-left: 7rem;
   @include respond(phone) {
    margin-left: 4rem;
    margin-top: 35rem;
  }
  &__group:not(:last-child) {
    margin-bottom: 0.7rem;
  }
  &__input {
    font-size: 1.5em;
    padding: 0.7rem 1.7rem;
    border-radius: 2px;
    background: transparent;
    background: rgba($color-primary-white, 0.3);
    border: 2px solid $color-black-med;
    border-bottom: 3px solid transparent;
    width: 40rem;
    display: block;
    transition: all 0.3s;
    @include respond(small-lap) {
      width: 33rem;
    }
     @include respond(tab-port-big) {
      width: 30rem;
    }
    @include respond(tab-port) {
      width: 27rem;
    }
    @include respond(phone) {
      width: 25rem;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-red;
    }
    &::-webkit-input-placeholder {
      color: $color-black;
    }
  }

  &__label {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    color: $color-black;
    display: block;
    transition: all 0.3s;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  .Loginsubmit {
    background: $color-black-clear;
    font-size: 2rem;
    box-shadow: 1px 1px 5px 1px $color-black-med;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    transition: all 1s ease;
    &:hover {
      background: transparent;
     
    }
  }
}
.logout {
   display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10rem;
}
.logoutButton {
  font-size: 4rem;
  color: $color-primary;
  background: transparent;
  outline: none;
  border: none;
  transition: all 1s ease;
  cursor: pointer;

  &:hover {
    background: transparent;
    color: $color-red;
  }
}